h1{
 text-align: center;
 font-family:sans-serif;
 font-size: 30px;
 margin-top: 50px;

}
p{
  text-align: center;
  font-family:sans-serif;
  font-size: 17px;
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 100px;
  }
#yt_url{
  color:blue;
}
button{
  display: block;
  margin-left:100px;
  margin-top: 30px;
  background-color: rgb(15, 3, 57);
  color: white;
  border-radius: 7px;
  padding: 10px;
  font-size: 15px;
  width:100px
}